Theme=javax.swing.plaf.nimbus.NimbusLookAndFeel
Recent File7=/home/artiom/IdeaProjects/HelloWorld/out/production/HelloWorld/META-INF/MANIFEST.MF
Recent File6=/home/artiom/NavCompanantAnalyzer.config
Recent File5=/home/artiom/Документы/Стих приглашалка в сад.odt
Recent File4=/home/artiom/IdeaProjects/NAV-Component-Analyzer/OPUS217201023/All 201023.txt
Recent File3=/home/artiom/IdeaProjects/APPLICATION/NAV.11.0.44952.RU.CUObjects.txt
Recent File2=/home/artiom/IdeaProjects/NAV-Component-Analyzer/OPUS217201023/All 201023 (MODIFY).txt
Recent File1=/home/artiom/IdeaProjects/APPLICATION/dataport.txt
